<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some website</title>	
	</head>
	
	<body>
		{{> header}}
		{{> footer}}

		<!--<p>{{welcomeMessage}}</p> -->
		<!-- richiama la funzione screamIt definita tramite hbs.registerHelper e usa welcomeMessage come argomento -->
		<p>{{screamIt welcomeMessage}}</p>
	
	</body>
</html>